.fs-35 {
    font-size: 35px;
}

.fs-20 {
    font-size: 20px;
}

.fs-40 {
    font-size: 40px;
}

.py-40 {
    padding: 40px 0px;
}

.px-50 {
    padding: 0px 50px;
}
/* ///////////// */
.mb-10 {
    margin-bottom: 10px;
  }
  .border-radius-20 {
    border-radius: 20px;
  }
  .pd-20 {
    padding: 20px;
  }
  .fs-12 {
    font-size: 12px;
  }
  .fs-16{
      font-size: 16px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-20{
      margin-top: 20px;
  }
  .mt-40 {
    margin-top: 40px;
  }
  .mt-130 {
    margin-top: 130px;
  }
  .mr-5{
    margin-right: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .d-flex {
    display: flex;
  }
  .j-center {
    justify-content: center;
  }
  .j-content-flex-end{
    justify-content: flex-end;
  }
  .j-content-center{
    justify-content: center;
  }
  .align-item-center {
    align-items: center;
  }
  .position-relative {
    position: relative;
  }
  .bg-main {
    background: #4f2566;
  }
  .w-200 {
    width: 200px;
  }
  .h-40 {
    height: 40px;
  }
  .w-100 {
    width: 100px;
  }
  .j-content-space-between {
    justify-content: space-between;
  }
  .t-align-center {
    text-align: center;
  }
  .t-align-right{
    text-align: right;
  }
  .a-items-center{
    align-items: center;
  }
  .bg-white {
    background-color: white
  }
  .bg-gray {
    background-color:#F7F7F7
  }
  .w-100per{
    width: 100%;
  }
  .w-25per{
    width: 25%;
  }
  
.row-pointer > .v-data-table__wrapper > table > tbody > tr :hover {
  cursor: pointer;
}
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.06) !important;
}